/Model Pipeline/DataSet
!C:\Users\sahil\Desktop\CS\IT\EXL\Training\Exam\_Final Project\Code\GitHub\Model Pipeline\DataSet\all_categories_processed_parallel.csv
App/filtered_data_model/model.safetensors
